<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="albrizy.support.ads">

    <application
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="nosensor"
            android:noHistory="true"/>

    </application>

</manifest>
